# .gitignore

# Directories #
################
node_modules/
dist/
out/
build/
.vscode/

# Logs #
########
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data #
################
pids
*.pid
*.seed
*.log
*.ipc

# IntelliJ / JetBrains IDEs #
#############################
.idea/

# OS #
######
.DS_Store

# TypeScript #
##############
*.ts-build-info

# IDE #
##############
.idea
.vscode